// src/components/Login.less
.login-container {
  display: flex;
  justify-content: flex-end; /* 把表单推到右边 */
  align-items: center;        /* 垂直居中对齐 */
  height: 100vh;             /* 设置容器填满视口高度 */
  width: 100vw;              /* 设置容器填满视口宽度 */
  position: fixed;           /* 固定位置，确保满屏 */
  top: 0;                    /* 从顶部开始 */
  left: 0;                   /* 从左侧开始 */
  background: url('../../assets/loginbg.png') no-repeat center center;
  background-size: cover; /* 背景图片大小 */
  .form-container {
    padding: 60px 40px;
    background-color: rgba(233, 232, 232, 0.5);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 400px;
    max-width: 100%;
    margin-right: 350px;
  }

  h2 {
    justify-content: center;
    color: #9face6;
    margin-bottom: 20px; /* 增加标题与表单之间的间隙 */
  }

  .ant-form-item {
    margin-bottom: 16px; /* 设置表单项之间的间隙 */
  }

  margin-right:100px ;                  /* 确保在小屏幕下的适配 */
}

h2 {
  margin-bottom: 20px; /* 增加标题与表单之间的间隙 */
}

.ant-form-item {
  margin-bottom: 16px; /* 设置表单项之间的间隙 */
}
